footer {
  padding: 60px 0;
  background: $gray-light-footer;
  .footer-text {
    @extend .footer_text;
    text-align: center;
    @media(max-width: $screen-sm) {
      // text-align: left;
      padding: 10px 0 10px 0;
      margin-top: 20px;
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
    }
  }
  .nav {
    @extend .list-unstyled;
    margin-left: -10px;
    a {
      @extend .footer_text;
      padding: 1px 15px;
      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }
    li.current_page_item a {
      font-weight: bold;
    }
  }
  .social-menu {
    float: right;
    margin-top: -10px;
    @media(max-width: $screen-sm) {
      float: none;
      text-align: center;
      margin: 20px 0;
    }
    li {
      float: left;
      @media(max-width: $screen-sm) {
        float: none;
        display: inline-block;
      }
      a {
        padding: 15px 15px 10px;
      }
    }
  }
  .copyright {
    margin:40px 0 0 5px;
    @media(max-width: $screen-sm) {
      text-align: center;
    }
  }
}
