@import "icons";
@import "mixins";

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 81px;
  background: $body-bg;
  .navbar {
    margin-bottom: 10px;
    &:before, &:after {
      display: none;
    }
    @media(max-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
    }
  }
  .navbar-brand {
    position: relative;
    text-indent: -10000px;
    display: inline-block;
    margin-bottom: 5px;
    @extend .pull-left;
    &, &:hover {
      @extend .logo-icon;
    }
  }
  .main-navbar {
    position: absolute;
    text-align: center;
    width: 100%;
    @media(max-width: $screen-sm) {
      display: none;
    }
    .nav {
      display: inline-block;
    }
  }
  .right-navbar {
    @extend .pull-right;
    @media(max-width: $screen-sm) {
      display: none;
    }
    .nav {
      float: left;
    }
    .glyphicon-search {
      top: 2px;font-size: 14px;
    }
  }
  .nav {
    margin-top: 20px;
    li {
      float: left;
    }
  }
  .seperator {
    float: left;
    margin: 2.6em 5px 0 0;
    border-left: 1px solid $gray-light;
    width: 1px;
    height: .9em;
  }
  .navbar .nav li {
    & > a {
      @extend .main_menu_negative;
    }
  }
  .nav li {
    & > a > span {
      padding-bottom: 4px;
    }
    & > a:hover, & > a.active, &.active > a {
      background: none;
      span {
        border-bottom: 2px solid $gray-darker;
      }
      &:focus {
        background: none;
      }
    }
    &.current_page_item, &.current_page_parent {
      a {
        background: none;
        span {
          border-bottom: 2px solid $gray-darker;
        }
      }
    }
  }
  .navbar-collapse {
    overflow-x: hidden;
  }
  .navbar-header h1 {
    margin-top: 16px;
  }
  .nav {
    margin-top: 19px;
  }
  .seperator {
    margin-top: 34px;
  }
}
.navbar-toggle {
  position: fixed;
  left: 5px;
  top: 16px;
  z-index: 2000;
  .icon-bar {
    background-color: black;
  }
}
