@import "sprites";
$spriteWidth: 1024px !default;
$spriteHeight: 768px !default;
$hover-icons: facebook twitter pinterst google-plus youtube vimeo;

@each $hover-icon in $hover-icons {
  @media (-webkit-min-device-pixel-ratio: 1.1), (min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    .#{$hover-icon}-icon {
      background-image: url($pathToSpriteSVG);
      background-size: $spriteWidth $spriteHeight;
    }
  }
  .#{$hover-icon}-icon {
    @extend .sprite_#{$hover-icon};
    &:hover {
      @extend .sprite_#{$hover-icon}-hover;
    }
  }
  a:hover .#{$hover-icon}-icon, a:focus .#{$hover-icon}-icon {
    @extend .sprite_#{$hover-icon}-hover;
  }
}

$simple-icons: address logo phone fax email;

@each $simple-icon in $simple-icons {
  @media (-webkit-min-device-pixel-ratio: 1.1), (min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    .#{$simple-icon}-icon {
      background-image: url($pathToSpriteSVG);
      background-size: $spriteWidth $spriteHeight;
    }
  }
  .#{$simple-icon}-icon {
    @extend .sprite_#{$simple-icon};
    margin-bottom: -1px;
    margin-right: 5px;
  }
}
