@import "sprites";
.logo {
  @extend .sprite_logo;
}

$social-icons: facebook twitter pinterst google-plus youtube vimeo;

@each $social-icon in $social-icons {
  .#{$social-icon}-icon {
    @extend .sprite_#{$social-icon};
    &:hover {
      @extend .sprite_#{$social-icon}-hover;
    }
  }
  a:hover .#{$social-icon}-icon, a:focus .#{$social-icon}-icon {
    @extend .sprite_#{$social-icon}-hover;
  }
}

$contact-icons: address phone fax email;

@each $contact-icon in $contact-icons {
  .#{$contact-icon}-icon {
    @extend .sprite_#{$contact-icon};
    margin-bottom: -1px;
    margin-right: 5px;
  }
}
