$font-primary: "Open Sans", Arial, 'sans-serif';
$font-secondary: Georgia, serif;
$border-radius-base: 0;

$input-border-focus: $brand-primary;
//select2
$results-choice-bg-hover-color: $brand-primary;
$container-focus-border-color: $brand-primary;
$focus-border-color: $brand-primary;

$state-success-text: $brand-primary;
