.bottom-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 550px;
  background-position: center;
  background-size: cover;
}
.bottom-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $gray-light-footer;
  opacity: .8;
}
.bottom-image-content {
  position: relative;
  width: 100%;
  text-align: center;
  .btn {
    background: none;
    border-color: transparent;
    border-bottom: 1px solid $text-color;
    &:hover {
      border-color: $text-color;
    }
  }
}
