.radio {
  position: relative;
  margin: 0 30px;
  label {
    display: inline;
    padding-left: 0;
  }
  .check:before {
    content: '';
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: -30px;
    background: white;
    border: 1px solid $gray-light;
    border-radius: 10px;
  }
  .check:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 12;
    top: 7px;
    left: -25px;
    background: $gray;
    opacity: 0;
    border-radius: 5px;
  }
  input[type=radio] {
    // visibility: hidden;
    position: absolute;
    left: -5px;
    top: -1px;
    z-index: 0;
    &:checked + .check:after {
      opacity: 1 !important;
    }
    &:focus + .check:before {
      $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
      border-color: $input-border-focus;
      outline: 0;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }
  }
}
.radio.disabled, fieldset[disabled] .radio {
  .check:before {
    background-color: $input-bg-disabled;
    opacity: 1;
    cursor: $cursor-disabled;
    pointer-events: none;
  }
}
