footer
  .container
    .col-md-12
      ul.social-menu
        li
          a(href="#")
            .glyphicon.facebook-header
        li
          a(href="#")
            .glyphicon.twitter-header
        li
          a(href="#")
            .glyphicon.gplus-header
      p © 2015 site_name
      ul.footer-menu
        li
          a(href="#") terms & conditions of use
        li
          a(href="#") privacy policy
script(type="text/javascript", src="assets/js/main.js" async)
